<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fileLog" value="C:\Filewatcherservice\FILE_LOG\"/>
    <add key="cam1" value="C:\ProTopas\CAM1\"/>
    <add key="cam2" value="C:\ProTopas\CAM2\"/>
    <add key="text" value="C:\JOURNAL\"/>
    <add key="ouputCam1" value="D:\OutputCamera\CAM1\"/>
    <add key="ouputCam2" value="D:\OutputCamera\CAM2\"/>
    <add key="transactionStart" value="TRANSACTION START"/>
    <add key="transactionEnd" value="TRANSACTION END"/>
    <add key="cashRequest" value="CASH REQUEST:"/>
    <add key="transNo" value="RRN:["/>
    <add key="dateTime" value="DATE  TIME"/>
    <add key="listtexEnd" value="CASH TAKEN"/>
    <add key="delayMinutes" value="1"/>
    <add key="test" value="20220426"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
