<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="partInputImage" value="C:\InputImage\"/>
		<add key="partOutputImage" value="C:\OutputImage\"/>
		<add key="partInputTextzzzz" value="C:\partInputText\"/>
		<add key="partInputText" value="C:\partInputText\test.txt"/>
		
	</appSettings>
</configuration>